@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
*{
    box-sizing: border-box;
  }
body{
    padding: 0;
    margin: 0;
    background-color: yellow;
    background-repeat: no-repeat;
    background-size: cover;
}
.header h1{
    text-align: center;
    margin-top: 30px;
    color: #005500;
    text-shadow: 2px 2px #ff0000e7;
    text-decoration-line: underline;
}
h2{
    color: #ff0000e7;
}
label{
    color: #005500;
}
.gender p{
    color: #ff0000e7;
}
#result{
    font-size: 30px;
    color: #005500;
}
h3{
    color: #005500;
}
#get-name{
    background-color: #005500;
    color: white;
    border: 2px solid #ff0000e7;
}
#get-name:hover{
    color: #ff0000e7;
    background-color: whitesmoke;
}
.clear{
    background-color: #005500;
    color: white;
    border: 2px solid #ff0000e7;
}
.clear:hover{
    color: #ff0000e7;
    background-color: whitesmoke;
}
::placeholder{
    color: #ff0000e7;
}
input {
    border: none;
    resize: none;
    outline: none;
    border-radius: 10px;
}
span{
    padding: 10px;
    color: #ff0000e7;
}
a{
    text-decoration: none;
    color: #ff0000e7;
}