@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
*{
    box-sizing: border-box;
  }
body{
    padding: 0;
    margin: 0;
}
.header h1{
    text-align: center;
    margin-top: 30px;
    color: #005500;
    text-shadow: 2px 2px #ff0000e7;
    text-decoration-line: underline;
}
.header h2{
    text-align: center;
}
h3{
}
#result{
    font-size: 30px;
}
#get-name{
    background-color: #005500;
    color: white;
    border: 2px solid #ff0000e7;
}